{% extends 'base.html' %}
{% block cuerpo %}
<div class="row g-1">
        <div class="card" > <!-- Datos Equipo -->
            <div class="card-header">
                <h3 class="text-success">EQUIPOS LEGACY</h3>
            </div>
            <div class="card-body">
                <p> Por desgracia en esta empresa, los equipos CISCO, se convirtieron en Legacy. 
                    Wall-e apuesta por las nuevas tecnologías, e intenta estar lejos de los "Legados" y herencias inutiles,
                    asi que si necesitais configurar algun equipo CISCO (Legacy)... 
                    pos ir al modo Legacy, coger la plantilla del excel XD</p>
            </div>
            <div class="card-footer"> <!-- Botones -->
                <div class="row">
                    <div class="col-6">
                        <div class="d-grid gap-2 d-md-flex">
                            <div class="d-grid gap-2 d-md-flex">
                                <a class="btn btn-outline-success btn-sm" href="/home" role="button">Salir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}