{% extends 'base.html' %}
{% block cuerpo %}
<div class="row g-1">
    <form action="/plantilla/{{ equipo }}" method="post">
        <div class="card" > <!-- Datos Equipo -->
            <div class="card-header">
                {% if equipo == 0 %}
                Plantilla Switch Huawei
                {% elif equipo == 1 %}
                Plantilla Forti Switch
                {% elif equipo == 2 %}
                Plantilla Switch Huawei Legacy
                {% endif %}
            </div>
            <div class="card-body">
                <div class="row g-2">
                    <div class="mb-3"> <!-- IP - RED -->
                        <label for="ip_red" class="form-label">RED Managment - Comunicaciones</label>
                        <input type="text" class="form-control" id="ip_red" placeholder="10.10.36.1" aria-describedby="ipHelp"
                        pattern="^((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.){3}(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])$" name="ip_red" required>
                        <div id="ipHelp" class="form-text">Ejemplo: 10.10.36.1 (Siempre debe ser la .1 de la /22)</div>
                    </div>
                    {% if equipo in (2,3) %}
                    <div class="mb-3"> <!-- IP - VLAN 29 -->
                        <label for="ip_vlan29" class="form-label">Vlan 29 Red de Terceros</label>
                        <input type="text" class="form-control" id="ip_vlan29" placeholder="10.42.x.x" aria-describedby="ipHelp"
                        pattern="^((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.){3}(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])$" name="ip_vlan29" required>
                        <div id="ipHelp" class="form-text">10.42.x.x Vlan de terceros, la debe proporcionar TESA</div>
                    </div>
                    {% endif %}
                    <div class="mb-3"> <!-- HOSTNAME -->
                        <label for="nombre" class="form-label">HostName</label>
                        <input  type="text" class="form-control" id="nombre" placeholder="HostName (CIR-ES-SLN-xxx-L2SW-xxx)" name="nombre" aria-describedby="hostnameHelp" required>
                        <div id="hostnameHelp" class="form-text">El hostname debe tener el siguiente formato CIR-ES-SLN-001-L2SW-001</div>
                    </div>
                    <div class="mb-3"> <!-- LOCATION -->
                        <label for="location" class="form-label">LOCATION</label>
                        <input  type="text" class="form-control" id="location" placeholder="BINGO NUEVO JOAQUIN :-D" name="location" aria-describedby="locationHelp" required>
                        <div id="hostnameHelp" class="form-text">El "Location" es el lugar o localizacion de la sede, bingo o sala</div>
                    </div>
                </div>


                {% if template %}
                {% block plantilla %}

                {% endblock %}
                {% endif %}
            </div>
            <div class="card-footer"> <!-- Botones -->
                <div class="row">
                    <div class="col-6">
                        <div class="d-grid gap-2 d-md-flex">
                            <button type="submit" class="btn btn-success btn-sm">Generar Plantilla</button>
                            <div class="d-grid gap-2 d-md-flex">
                                <a class="btn btn-outline-success btn-sm" href="/home" role="button">Salir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
