{% extends 'base.html' %}

{% block sub_menu_auxiliares %}

                <li class="nav-item dropdown"> <!-- Tablas Auxiliares-->
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tablas Auxiliares
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/tipobw">Tipo BW</a></li>
                        <li><a class="dropdown-item" href="/circuito">Circuito</a></li>
                        <li><a class="dropdown-item" href="/division">División</a></li>
                        <li><a class="dropdown-item" href="/estado">Estado</a></li>
                        <li><a class="dropdown-item" href="/fabricante">Fabricante</a></li>
                        <li><a class="dropdown-item" href="/modelo">Modelo</a></li>
                        <li><a class="dropdown-item" href="/rol">Rol</a></li>
                        <li><a class="dropdown-item" href="/cirdat">Circuito Datos</a></li>
                        <li><a class="dropdown-item" href="/tipo_acceso">Tipo Acceso</a></li>
                        <li><a class="dropdown-item" href="/tipo_circuito">Tipo Circuito</a></li>
                        <li><a class="dropdown-item" href="/tipo_disp">Tipo Dispositivo</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/pais">Paises</a></li>
                        <li><a class="dropdown-item" href="/pob">Población</a></li>
                        <li><a class="dropdown-item" href="/prov">Provincia</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Tipo Sede (División)</a></li> -->
                    </ul>
                </li>

{% endblock %}